<section id="content">
	
	<div class="row">
		<div class="span8 offset2">
		  <p>
			A T-shirt ID nasceu para acabar com esse blá-blá-blá de que moda é (só) aquilo o que está nas passarelas e revistas. Liberte-se das restrições de cores e				estampas e cria a seua própria camiseta. Do seu jeito.
				Tudo isso porque sabemos que uma boa camiseta é capaz de...
		  </p>

		</div>
	</div>

	<div class="row">
		<div class="span12 center-text">

			<ul class="balloons">
				<li>
					<p>Mudar o mundo.</p>
				</li>
				<li>
					<p>Compartilhar amor.</p>
				</li>
				<li>
					<p>Criar polêmica.</p>
				</li>
				<li>
					<p>Expor idéias.</p>
				</li>
				<li>
					<p>Causar na balada.</p>
				</li>
				<li>
					<p>Provocar sorrisos.</p>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span6 offset3 center-text">
			<p><br/>Estamos preparando algo especial para você. Aguarde.<br/><br/></p>
		</div>
	</div>

	
	<div class="row">
		<div class="span12">
			<br>
		</div>
	</div>
	
	<div class="row">
		<div class="span8 offset2">
			<div class="row-fluid">
				
				<div class="span6">

					<%= form_for(@email_subscription, :html => { :class => "well form-inline sign-up-box"}) do |f| %>
						<p>Me avise, quero ser o primeiro a saber das novidades.</p>

						<div class="control-group">
				      <div class="controls">
								<!-- <input type="text" class="input-medium focused" placeholder="E-mail"> -->
								<%= f.text_field :email, :class => "input-medium focused", :placeholder => "Email"%>
								<!-- <button type="submit" class="btn btn-info">OK</button> -->
								<%= f.submit "OK", :class => "btn btn-info" %>
				      	<p class="help-block"><small>* Você aceita receber nossos e-mails.<br/>Mandaremos novidades, mas nada de SPAM. Fique tranquilo, não vendemos e não compartilhamos e-mails.</small></p>
				      </div>
				    </div>
					<% end %>

				</div>
				
				<div class="span6">
					
					<%= form_for(@email_subscription, :html => { :class => "well form-inline buy-now-box"}) do |f| %>
						<p>Não aguento esperar, quero fazer a minha agora mesmo!</p>
						
						<div class="control-group">
				      <div class="controls">
								<!-- <input type="text" class="input-medium focused" placeholder="E-mail"> -->
								<%= f.text_field :email, :class => "input-medium focused", :placeholder => "Email"%>
								<!-- <button type="submit" class="btn btn-info">OK</button> -->
								<%= f.submit "OK", :class => "btn btn-danger" %>
			        	<p class="help-block"><small>* Você aceita receber e-mails.<br/>Entraremos em contato com você para fazer a sua camiseta antes do lançamento oficial. Fique atento à sua caixa de e-mails.</small></p>
				      </div>
				    </div>
					<% end %>
					
				</div>
				
			</div>
		</div>
	</div>

	<hr />

</section>