
<div class="row">
	<div class="span8 offset2">
	  <p>
		A T-shirt ID nasceu para acabar com esse bl&aacute;-bl&aacute;-bl&aacute; de que moda &eacute; (s&oacute;) aquilo o que est&aacute; nas passarelas e revistas. Liberte-se das restri&ccedil;&otilde;es de cores e estampas e crie a sua pr&oacute;pria camiseta. Do seu jeito.<br />
			Tudo isso porque sabemos que uma boa camiseta &eacute; capaz de...
	  </p>

	</div>
</div>

<div class="row">
	<div class="span12 center-text">

		<ul class="balloons">
			<li>
				<p>Mudar o mundo.</p>
			</li>
			<li>
				<p>Compartilhar amor.</p>
			</li>
			<li>
				<p>Criar pol&ecirc;mica.</p>
			</li>
			<li>
				<p>Expor id&eacute;ias.</p>
			</li>
			<li>
				<p>Causar na balada.</p>
			</li>
			<li>
				<p>Provocar sorrisos.</p>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span6 offset3 center-text">
		<p>Estamos preparando algo especial para voc&ecirc;, aguarde.</p>
	</div>
</div>


<div class="row">
	<div class="span12">
		<br>
	</div>
</div>

<div class="row">
	<div class="span8 offset2">
		<div class="row-fluid">
			
			<div class="span6">

				<%= form_for(@email_subscription, :html => { :class => "well form-inline sign-up-box"}) do |f| %>
					<p>Me avise, quero ser o primeiro a saber das novidades.</p>

					<div class="control-group">
			      <div class="controls">
							<%= f.email_field :email, :class => "input-medium focused", :placeholder => "Email", :autocapitalize => "off", :autocorrect => "off" %>
							<%= f.hidden_field :opt_in_campaign, :value => "teaser-signup" %>
							<%= f.submit "OK", :class => "btn btn-info" %>
			      	<p class="help-block"><small>* Voc&ecirc; aceita receber nossos e-mails.<br/>Mandaremos novidades, mas nada de SPAM. Fique tranquilo, n&atilde;o vendemos e n&atilde;o compartilhamos e-mails.</small></p>
			      </div>
			    </div>
				<% end %>

			</div>
			
			<div class="span6">
				
				<%= form_for(@email_subscription, :html => { :class => "well form-inline buy-now-box"}) do |f| %>
					<p>N&atilde;o aguento esperar, quero fazer a minha agora mesmo!</p>
					
					<div class="control-group">
			      <div class="controls">
							<%= f.text_field :email, :class => "input-medium focused", :placeholder => "Email"%>
							<%= f.hidden_field :opt_in_campaign, :value => "teaser-buynow" %>
							<%= f.submit "OK", :class => "btn btn-danger" %>
		        	<p class="help-block"><small>* Voc&ecirc; aceita receber e-mails.<br/>Entraremos em contato com voc&ecirc; para fazer a sua camiseta antes do lan&ccedil;amento oficial. Fique atento &agrave; sua caixa de e-mails.</small></p>
			      </div>
			    </div>
				<% end %>
				
			</div>
			
		</div>
	</div>
</div>
