<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @email_subscription.name %>
</p>

<p>
  <b>Email:</b>
  <%= @email_subscription.email %>
</p>

<p>
  <b>Opt in:</b>
  <%= @email_subscription.opt_in %>
</p>

<p>
  <b>Opt in campaign:</b>
  <%= @email_subscription.opt_in_campaign %>
</p>

<p>
  <b>Ip:</b>
  <%= @email_subscription.ip %>
</p>

<p>
  <b>Last opt in:</b>
  <%= @email_subscription.last_opt_in %>
</p>

<p>
  <b>Last opt out:</b>
  <%= @email_subscription.last_opt_out %>
</p>


<%= link_to 'Edit', edit_email_subscription_path(@email_subscription) %> |
<%= link_to 'Back', email_subscriptions_path %>
